.table {
  width: 500px;
  border-collapse: collapse;
}
.table td,
.table th {
  border: 1px solid black;
}
.table-header {
  background-color: rgb(39, 39, 39);
  color: aliceblue;
}
.table-string:nth-child(even) {
  background-color: rgb(179, 179, 179);
}
